.nav {
    grid-area: n;
    background-color: #FF7477;
    padding: 20px;
    width: 180px;
}

a {
    text-decoration: none;
}

.item {
    color: white;
}

.active {
    color: #66C3FF;
}


.friends {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.innerFriends {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friendsImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}